<section  {{ stimulus_controller('render-form') }}>
    <div class="form-floating mb-3">
    <textarea
            name="content"
            class="form-control"
            id="floatingInput" placeholder="content"

            data-action="focusout->render-form#changeHandler"
    >

    </textarea>
        <label for="floatingInput">Contenue</label>
    </div>

    <div
            class="form-floating mb-3"
            data-render-form-target="champ"
            data-url-form="{{ path('post_form_select') }}"
    >


    </div>
</section>




