{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Test boot</h1>
            <button class="btn btn-dark">
                test
            </button>

        </div>

    </div>
</div>
{% endblock %}
