{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div
                    class="col-12 mt-5"
                    {{ stimulus_controller('start-input',{urlApi: url}) }}
            >

                <div class="form-floating mb-3"
                     data-action="focusout->start-input#changeHandler"
                >
                    <input type="text" name="name" class="form-control" id="floatingInput" placeholder="name">
                    <label for="floatingInput">title</label>
                </div>

                {% for depend in depends %}
                <div
                        class="form-floating mb-3"
                        data-start-input-target="champ"
                        data-url-form="{{ depend.url}}"
                        data-depend="{{ depend.dependInput }}"
                        data-is-changed="{{ depend.isChanged }}"
                >


                </div>

                {% endfor %}



            </div>

        </div>
    </div>
{% endblock %}
